#DIV_1, #DIV_2, #DIV_7 {
    bottom: 0px;
    height: 593px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 980px;
    perspective-origin: 490px 296.5px;
    transform-origin: 490px 296.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_1, #DIV_2, #DIV_7*/

#DIV_3 {
    bottom: 0px;
    clip: rect(0px 1350px 593px 0px);
    height: 593px;
    left: -185.5px;
    pointer-events: none;
    position: absolute;
    right: -184.5px;
    top: 0px;
    width: 1350px;
    perspective-origin: 675px 296.5px;
    transform-origin: 675px 296.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_3*/

#DIV_4, #DIV_6 {
    bottom: 0px;
    height: 593px;
    left: 0px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1350px;
    perspective-origin: 675px 296.5px;
    transform-origin: 675px 296.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_4, #DIV_6*/

#DIV_5 {
    bottom: 0px;
    height: 593px;
    left: 0px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1350px;
    perspective-origin: 675px 296.5px;
    transform-origin: 675px 296.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_5*/

#DIV_8 {
    bottom: 366px;
    height: 49px;
    left: 32px;
    overflow-wrap: break-word;
    position: absolute;
    right: 33px;
    top: 178px;
    width: 915px;
    word-wrap: break-word;
    perspective-origin: 457.5px 24.5px;
    transform-origin: 457.5px 24.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_8*/

#H4_9 {
    color: rgb(47, 46, 46);
    height: 49px;
    overflow-wrap: break-word;
    text-align: center;
    width: 915px;
    word-wrap: break-word;
    column-rule-color: rgb(47, 46, 46);
    perspective-origin: 457.5px 24.5px;
    transform-origin: 457.5px 24.5px;
    border: 0px none rgb(47, 46, 46);
    font: normal normal normal normal 36px / normal futura-lt-w01-book, sans-serif;
    margin: 0px;
    outline: rgb(47, 46, 46) none 0px;
}/*#H4_9*/

#DIV_10 {
    bottom: 335px;
    height: 22px;
    left: 35px;
    overflow-wrap: break-word;
    position: absolute;
    right: 36px;
    top: 236px;
    width: 909px;
    word-wrap: break-word;
    perspective-origin: 454.5px 11px;
    transform-origin: 454.5px 11px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_10*/

#P_11 {
    color: rgb(47, 46, 46);
    height: 22px;
    overflow-wrap: break-word;
    text-align: center;
    width: 909px;
    word-wrap: break-word;
    column-rule-color: rgb(47, 46, 46);
    perspective-origin: 454.5px 11px;
    transform-origin: 454.5px 11px;
    border: 0px none rgb(47, 46, 46);
    font: normal normal normal normal 17px / normal futura-lt-w01-light, sans-serif;
    margin: 0px;
    outline: rgb(47, 46, 46) none 0px;
}/*#P_11*/

#DIV_12 {
    bottom: 135px;
    height: 147px;
    left: 35px;
    overflow-wrap: break-word;
    position: absolute;
    right: 36px;
    top: 311px;
    width: 909px;
    word-wrap: break-word;
    perspective-origin: 454.5px 73.5px;
    transform-origin: 454.5px 73.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_12*/

#P_13 {
    color: rgb(96, 94, 94);
    height: 147px;
    overflow-wrap: break-word;
    text-align: center;
    width: 909px;
    word-wrap: break-word;
    column-rule-color: rgb(96, 94, 94);
    perspective-origin: 454.5px 73.5px;
    transform-origin: 454.5px 73.5px;
    border: 0px none rgb(96, 94, 94);
    font: normal normal normal normal 16px / normal futura-lt-w01-light, sans-serif;
    margin: 0px;
    outline: rgb(96, 94, 94) none 0px;
}/*#P_13*/

#BR_14, #BR_15 {
    color: rgb(96, 94, 94);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    column-rule-color: rgb(96, 94, 94);
    border: 0px none rgb(96, 94, 94);
    font: normal normal normal normal 16px / normal futura-lt-w01-light, sans-serif;
    outline: rgb(96, 94, 94) none 0px;
}/*#BR_14, #BR_15*/

